[log]
host = "graylog.service.consul:12201"

[kafka]
input_topic  = "development.notifications.apns"
config_topic = "development.crm.applications"
output_topic = "development.oam"
group_id     = "development.consumers.apns"
brokers      = "kafka:9092"