[postgres]
uri = "postgres://root:kulli@localhost:5432/crm"

[rabbitmq]
queue = "ha.apn.queue"
exchange = "ha.push-notifications"
exchange_type = "topic"
response_exchange = "push-notification-responses"
response_exchange_type = "topic"
routing_key = "apple"
vhost = "/"
host = "localhost"
port = 5672
login = "guest"
password = "guest"

[metrics]
uri = "http://localhost:8086"
database = "test"
tick_duration = 10
login = ""
password = ""
application = "apn"
