[log]
host = "graylog.service.consul:12201"

[kafka]
input_topic  = "development.notifications.webpush"
config_topic = "development.crm.applications"
output_topic = "development.oam"
group_id     = "development.consumers.webpush"
brokers      = "kafka:9092"
